<h1>Events</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Add Event</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 30%">Event Name</th>
            <th style="width: 30%">Day and Time</th>
            <th style="width: 30%">Artist</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of event_items">
            <td>{{item.title}}</td>
            <td>{{item.timeStart}} - {{item.timeStop}}</td>
            <td>{{item.artist}}</td>
            <td style="white-space: nowrap">
                <a routerLink="update/{{item.id}}" class="btn btn-sm btn-primary mr-1">Edit</a>
                <button (click)="deleteItem(item.id)" class="btn btn-sm btn-danger btn-delete-user" [disabled]="item.isDeleting">
                    <span *ngIf="item.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!item.isDeleting">Delete</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!event_items">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>